{% extends "base.html" %}
{% block content %}
<title>영화 생성 페이지</title>
<h1>이 곳에서 영화를 생성합니다.</h1>
{% comment %} <form action="/movies/">
  <input type="text" name="movie">
  <input type="submit" value="제출">
</form> {% endcomment %}

<form action="{% url "movies:save_movie" %}" method="POST">
  {% csrf_token %}
  <label for="movie_id">영화제목 : </label>
  <input type="text" name="movie_title" id="movie_id"> <br>
  <label for="movie_content">영화 콘텐츠 : </label>
  <textarea name="movie_content" id="movie_content" cols="30" rows="10"></textarea>
  <input type="submit" value="제출">
</form>
<a href="/movies/">메인 페이지</a>
{% endblock content %}