{% extends "base.html" %}

{% block content %}
  {% comment %} <h1>{{ movie }} 영화 상세 페이지</h1> {% endcomment %}
  
  <h1>영화 상세 페이지</h1>
  <hr>
  <p>{{ movie.pk }}번 째 영화</p>
  <p>영화 제목 : {{ movie.title }}</p>
  <p>영화 콘텐츠 : {{ movie.content }}</p>
  <p>영화 제작일 : <각 데이터 created_at 출력></p>
  <p>영화 개봉 여부 : {{ movie.is_open }}</p>

  <hr>
  <form action="{% url "movies:update_movie" movie.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="수정">
  </form>
  <hr>
  <form action="{% url "movies:delete_movie" movie.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
{% endblock content %}