{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="image-upload" id="image-upload">

        <form method="post" enctype="multipart/form-data">
            <div class="button">
                <label for="chooseFile">
                    👉 CLICK HERE! 👈
                </label>
            </div>
            <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
        </form>

        <div class="fileContainer">
            <div class="fileInput">
                <p>FILE NAME: </p>
                <p id="fileName"></p>
            </div>
            <div class="buttonContainer">
                <div class="submitButton" id="submitButton" class="btn btn-outline-secondary"> SUBMIT</div>
            </div>
        </div>
    </div>
    
    <div class="image-show" id="image-show"></div>
</div>

{% load static %}
<script src="{% static 'js/scripts.js' %}"></script>

{% endblock content %}

