{% extends "base.html" %}

{% block content %}
<h2>영화 블로그 프로젝트 메인 페이지</h2>
<p>영화 블로그 내용을 관리합니다.</p>
<ul>
    {% if movies %}
        {% for movie in movies %}
        <li>
            <p><a href='{% url "movies:movie_info" movie_pk=movie.pk %}' 
            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            영화제목 : {{ movie.title }}</a><br>
            작성자 : {{ movie.user }} <br>
            {% if movie.is_open %}
                개봉여부 : <input type="checkbox" name="isopen" checked disabled/>
            {% else %}
                개봉여부 : <input type="checkbox" name="isopen" disabled/>
            {% endif %}</p>
        </li>
        {% endfor %}
    {% else %}
    영화가 없습니다.
    {% endif %}

</ul>
<hr>
<h3>현재 User 목록 ( {{users|length}} )</h3>
<ul>
    {% if users %}
    {% for user in users  %}
        <li><a href="{% url "accounts:index" user.pk %}">
            {{user.username}}</a></li>
    {% endfor %}
    {% endif %}
</ul>
<hr>
{% comment %} <p><a href='{% url "movies:create_new" %}' 
    class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">[영화 추가]</a></p> {% endcomment %}
{% endblock content %}
