{% extends "base.html" %}

{% block content %}
<h2>회원정보 페이지</h2>
<hr>
<h3>계정이름 : {{ target_user.username }} </h3>
<h3>이메일 : {{ target_user.email }} </h3>

<hr>
<h4>팔로워: <span id='follower-cnt'>{{ target_user.followers.all | length }}</span></h4>
<h4>팔로잉: <span id='following-cnt'>{{ target_user.followings.all | length }}</span></h4>
{% if target_user != request.user %}
{% comment %} <form action="{% url "accounts:follow" target_user.pk %}" method='POST'> {% endcomment %}
<form id='follow-form' action="{% url "accounts:follow" target_user.pk %}" >
    {% csrf_token %}
    {% if request.user in target_user.followers.all %}
        <input id='submit-input' type="submit" value='언팔로우'>
    {% else %}
        <input id='submit-input' type="submit" value='팔로우'>
    {% endif %} 
</form>
{% endif %}


<hr>
<h3>작성한 리뷰 목록</h3>
<ol>
{% if reviews %}
    {% for review in reviews %}
        <li><a href='{% url "reviews:detail" review.pk %}'>리뷰 제목: {{ review.title }}</a></li>
    {% endfor %}
{% else %}
작성한 리뷰가 없습니다.
{% endif %}
</ol>


<hr>
<h3>작성한 리뷰댓글 목록</h3>
<ol>
{% if comments %}
    {% for comment in comments %}
        <li><a href='{% url "reviews:detail" comment.review.id %}'>댓글: {{ comment.content }}</a></li>
    {% endfor %}
{% else %}
작성한 리뷰 댓글이 없습니다.
{% endif %}
</ol>

{% if user == target_user %}
<hr>
<h3>좋아요 목록</h3>
<ol>
    {% for like_review in target_user.like_reviews.all %}
    <li>
        {% comment %} <a href='{% url "reviews:detail" comment.review.id %}'> {% endcomment %}
            {{ like_review.title }}
        {% comment %} </a> {% endcomment %}
    </li>
    {% endfor %}
</ol>
{% endif %}

{% if user == target_user %}
<form action="{% url "accounts:logout" %}" method="POST">
    {% csrf_token %}
    <input type="submit" value='로그아웃하기'>
</form>
<form action="{% url "accounts:delete" %}" method="POST">
    {% csrf_token %}
    <input type="submit" value='회원탈퇴하기'>
</form>
<form action="{% url "accounts:update" %}" >
    {% csrf_token %}
    <input type="submit" value='회원정보수정'>
</form>
{% endif %}
{% endblock content %}

{% block script %}
{% load static %}
<script src="{% static 'js/accounts/index.js' %}"></script>
{% endblock script %}


